@import '../../../assets/styles/colors.scss';

.main-layout {
    display: flex;
    flex-direction: row;
    height: 100%;

    .sidebar {
        color: $white2;
        width: 250px;
        background-color: $black-blue3;

        .header {
            font-size: 20px;
            padding: 25px 0;
            text-align: center;
        }

        .menu {
            margin-top: 40px;

            .menu-option {
                cursor: pointer;
                font-size: 16px;
                padding: 15px 25px;
            }
        }
    }

    .main-content {
        overflow-y: hidden;
        width: calc(100% - 250px);
    }
}