<div class="main-layout">
    <div class="sidebar">
        <div class="header">
            BastiDev
        </div>

        <div class="menu">
            <div *ngFor="let option of options" matRipple class="menu-option ts-none" [routerLink]="option.redirect">
                {{ option.title }}
            </div>
        </div>
    </div>

    <div class="main-content">
        <ng-content></ng-content>
    </div>
</div>