@import '../../../../../assets/styles/colors.scss';

.main-buttons {

    .buttons-container {
        margin-top: 60px;

        .flex-row:last-child {
            .button-option {
                margin-bottom: 0 !important;
            }
        }

        .button-option {
            margin-right: 50px;
            margin-bottom: 20px;
            span {
                color: $gray4;
                font-size: 10px;
            }
        }
    }
}