<div class="main-buttons">
    <div class="main-title header">
        Buttons
    </div>

    <div class="buttons-container flex-col">
        <!-- Default -->
        <div class="button-option">
            <span [innerText]="'<bbutton>Default</bbutton>'"></span>
            <bbutton>Default</bbutton>
        </div>

        <!-- Variant Outline -->
        <div class="button-option">
            <span [innerText]="'<bbutton variant=\'outline\'>Default</bbutton>'"></span>
            <bbutton variant="outline">Default</bbutton>
        </div>

        <!-- Variant Text -->
        <div class="button-option">
            <span [innerText]="'<bbutton variant=\'text\'>Default</bbutton>'"></span>
            <bbutton variant="text">Default</bbutton>
        </div>

        <!-- Disable shadow -->
        <div class="button-option">
            <span [innerText]="'<bbutton disableShadow>Default</bbutton>'"></span>
            <bbutton disableShadow>Default</bbutton>
        </div>

        <div class="flex-row">
            <!-- Disabled -->
            <div class="button-option">
                <span [innerText]="'<bbutton disabled>Disabled</bbutton>'"></span>
                <bbutton disabled>Disabled</bbutton>
            </div>

            <!-- Disabled / Variant Text -->
            <div class="button-option">
                <span [innerText]="'<bbutton variant=\'text\' disabled>Default</bbutton>'"></span>
                <bbutton variant="text" disabled>Disabled</bbutton>
            </div>
        </div>

        <div class="flex-row">
            <!-- Start Icon -->
            <div class="button-option">
                <span [innerText]="'<bbutton startIcon=\'home\'>Default</bbutton>'"></span>
                <bbutton startIcon="home">Default</bbutton>
            </div>

            <!-- End Icon -->
            <div class="button-option">
                <span [innerText]="'<bbutton endIcon=\'star\'>Default</bbutton>'"></span>
                <bbutton endIcon="star">Default</bbutton>
            </div>

            <!-- Both Icon -->
            <div class="button-option">
                <span [innerText]="'<bbutton startIcon=\'home\' endIcon=\'star\'>Default</bbutton>'"></span>
                <bbutton startIcon="home" endIcon="star">Default</bbutton>
            </div>
        </div>

        <div class="flex-row">
            <!-- Size sm -->
            <div class="button-option">
                <span [innerText]="'<bbutton size=\'sm\'>Default</bbutton>'"></span>
                <bbutton size="sm">Default</bbutton>
            </div>

            <!-- Size md -->
            <div class="button-option">
                <span [innerText]="'<bbutton size=\'md\'>Default</bbutton>'"></span>
                <bbutton size="md">Default</bbutton>
            </div>

            <!-- Size lg -->
            <div class="button-option">
                <span [innerText]="'<bbutton size=\'lg\'>Default</bbutton>'"></span>
                <bbutton size="lg">Default</bbutton>
            </div>
        </div>

        <div class="flex-row">
            <!-- Color default -->
            <div class="button-option">
                <span [innerText]="'<bbutton color=\'default\'>Default</bbutton>'"></span>
                <bbutton color="default">Default</bbutton>
            </div>

            <!-- Color primary -->
            <div class="button-option">
                <span [innerText]="'<bbutton color=\'primary\'>Primary</bbutton>'"></span>
                <bbutton color="primary">Primary</bbutton>
            </div>

            <!-- Color secondary -->
            <div class="button-option">
                <span [innerText]="'<bbutton color=\'secondary\'>Secondary</bbutton>'"></span>
                <bbutton color="secondary">Secondary</bbutton>
            </div>

            <!-- Color warning -->
            <div class="button-option">
                <span [innerText]="'<bbutton color=\'warning\'>Warning</bbutton>'"></span>
                <bbutton color="warning">Warning</bbutton>
            </div>

            <!-- Color danger -->
            <div class="button-option">
                <span [innerText]="'<bbutton color=\'danger\'>Danger</bbutton>'"></span>
                <bbutton color="danger">Danger</bbutton>
            </div>
        </div>
    </div>
</div>