@import '../../../../../assets/styles/colors.scss';

.bbutton {
    background: $gray1;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px $gray2;
    cursor: pointer;
    padding: 7px 14px;
    text-align: center;
    transition: 0.1s;
    width: fit-content;

    &:hover, &:focus {
        background: $gray2;
    }

    &:active {
        background: $gray3;
        box-shadow: none;
    }

    /* COLORS */
    &.color-primary, &.color-secondary, &.color-danger {
        color: $white1;
        box-shadow: 0px 0px 3px 0px $gray4;
    }

    &.color-primary {
        background: $blue4;

        &:hover, &:focus {
            background: $blue5;
        }

        &:active {
            background: $blue6;
            box-shadow: none;
        }
    }

    &.color-secondary {
        background: $black-blue1;

        &:hover, &:focus {
            background: $black-blue2;
        }

        &:active {
            background: $black-blue3;
            box-shadow: none;
        }
    }

    &.color-warning {
        background: $yellow1;
        color: $white2;
        box-shadow: 0px 0px 3px 0px $gray1;

        &:hover, &:focus {
            background: $yellow2;
        }

        &:active {
            background: $yellow3;
            box-shadow: none;
        }
    }

    &.color-danger {
        background: $red1;

        &:hover, &:focus {
            background: $red2;
        }

        &:active {
            background: $red3;
            box-shadow: none;
        }
    }
    
    /* SIZES */
    &.size-sm {
        padding: 4px 10px;
    }

    &.size-lg {
        padding: 10px 20px;
    }

    /* VARIANTS */
    &.variant-outline, &.variant-text {
        background: transparent;
        color: $blue3;

        &:hover {
            background: $blue1;
        }
    }

    &.variant-outline {
        border: 1px solid $blue3;
    }

    &.variant-text {
        box-shadow: none;

        &:active {
            background: $blue2;
        }
    }

    /* DISABLED */
    &.disable-shadow, &.disabled {
        box-shadow: none;
    }

    &.disabled {
        pointer-events: none;
        color: $gray4;
        background: $gray1;

        &.variant-text {
            background: transparent;
        }
    }

    .start-icon { margin-right: 8px; }
    .end-icon { margin-left: 8px; }
}