<div class="flex-row bbutton variant-{{variant}} size-{{size}} color-{{color}} ts-none"
    [ngClass]="{'disabled': disabled !== null, 'disable-shadow': disableShadow !== null}"
    >
    <div class="start-icon" *ngIf="startIcon">
        <mat-icon inline>{{startIcon}}</mat-icon>
    </div>
    <div>
        <ng-content></ng-content>
    </div>
    <div class="end-icon" *ngIf="endIcon">
        <mat-icon inline>{{endIcon}}</mat-icon>
    </div>
</div>