<div class="indicator-main main-body comp-content">
    <div class="main-title">
        Indicadores
    </div>

    <div class="indicators-content flex-row comp-content">
        <mat-card class="indicator-card" *ngFor="let indicator of indicators.data">
            <mat-card-header>
                <mat-card-title>
                    {{ indicator.nombre }}
                </mat-card-title>
    
                <mat-card-subtitle>
                    en {{ indicator.unidad_medida }} 
                    <ng-container *ngIf="indicator.detail">al {{ indicator.detail.serie[0].fecha | datePresentation }}</ng-container>
                </mat-card-subtitle>

            </mat-card-header>
            
            <div class="indicator-info">
                <ng-container *ngIf="indicator.detail">
                    <app-indicator-detail [indicator]="indicator.detail"></app-indicator-detail>
                </ng-container>

                <ng-container *ngIf="!indicator.detail">
                    <mat-spinner></mat-spinner>
                </ng-container>
            </div>
        </mat-card>
    </div>
</div>
