.todo-task {
    margin-top: 15px;

    .flex-row {
        justify-content: space-between;

        .task-done {
            text-decoration: line-through;
        }

        .title {
            margin-top: 10px;
        }

        .delete-button {
            color: red;
        }
    }
}