<div class="todo-task">
    <mat-card>
        <div class="flex-row">
            <div class="title" [ngClass]="{ 'task-done': task.isDone }">
                {{ task.title }}
            </div>

            <div class="action-buttons">
                <button mat-icon-button (click)="changeTaskStatus()">
                    <mat-icon *ngIf="!task.isDone">done</mat-icon>
                    <mat-icon *ngIf="task.isDone">clear</mat-icon>
                </button>

                <button class="delete-button" mat-icon-button (click)="deleteTask()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>