<div class="main-todo comp-content">
    <div class="main-title">
        Todo List
    </div>

    <div class="comp-content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>To <span>Do</span>:</mat-card-title>
            </mat-card-header>

            <div class="todo-form flex-row">
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Tarea</mat-label>
                        <input matInput [(ngModel)]="taskTitle">
                        <button matSuffix mat-icon-button (click)="taskTitle=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="action-button">
                    <button mat-mini-fab color="primary" (click)="addTask()"><mat-icon>add_circle</mat-icon></button>
                </div>
            </div>

            <mat-divider *ngIf="tasks?.length" inset></mat-divider>

            <div class="todo-list">
                <app-todo-task *ngFor="let task of tasks" 
                    [task]="task"
                    (onChangeTasks)="tasks = $event"
                ></app-todo-task>
            </div>
        </mat-card>
    </div>
</div>