@import '../../../../../assets/styles/colors.scss';

.main-todo {
    span {
        color: $blue3;
    }

    .todo-form {
        .action-button {
            margin-top: 10px;
            margin-left: 25px;
        }
    }
}